# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# User uploads
uploads/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development
.DS_Store